<!DOCTYPE html>
<html>

<head>
	<title>
		Siw Books - Homepage
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${userDetails}">
			<a href="/login">Login</a>
		</div>
	</header>

	<div><img src="/images/logo-app.png" width="25%" /></div>
	<h1>Consulta l'archivio</h1>
	<div>
		<a href="/autori">Elenco Autori</a>
	</div>
	<div>
		<a href="/libri">Elenco libri</a>
	</div>


	<h1>Operazioni per amministratore</h1>
	<div>
		<a href="/admin/autori/new">Aggiungi autore</a>
	</div>
	<div>
		<a href="/admin/libri/new">Aggiungi libro</a>
	</div>
</body>

</html>