<!DOCTYPE html>
<html>
<head>
    <title>Nuova Recensione</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>
<body>
    <header>
        <div th:if="${userDetails}">
            <span th:text="${userDetails.username}"></span>
            <a href="/logout">Logout</a>
        </div>
        <div th:unless="${userDetails}">
            <a href="/login">Login</a>
        </div>
    </header>

    <div>
        <a href="/"><img src="/images/logo-app.png" width="25%" /></a>
    </div>
    <h1 th:text="'Recensisci: ' + ${libro.titolo}">Nuova Recensione</h1>
	<div th:if="${errore}" class="error">
	    <p th:text="#{${errore}}"></p>
	</div>

    <form th:action="@{'/recensioni/libro/' + ${libro.id}}" method="POST" th:object="${recensione}">
        <div>
            <label for="voto">Voto</label>
            <input id="voto" type="number" th:field="*{voto}" />
            <span th:if="${#fields.hasErrors('voto')}" th:errors="*{voto}" th:style="'color:red'"></span>
        </div>
        <div>
            <label for="testo">Testo</label>
            <textarea id="testo" th:field="*{testo}"></textarea>
            <span th:if="${#fields.hasErrors('testo')}" th:errors="*{testo}" th:style="'color:red'"></span>
        </div>
        <div>
            <button type="submit">Invia</button>
        </div>
    </form>
</body>
</html>
