<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="${autore.nome} + ' ' + ${autore.cognome}">Autore</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>
<body>

    <a href="/"><img src="/images/logo-app.png" class="login-logo" alt="Logo SiwBooks" /></a>

    <div class="container">

        <h1 th:text="${autore.nome} + ' ' + ${autore.cognome}">Nome Autore</h1>

        <div class="detail-section">

            <div th:if="${autore.fotografia != null}">
                <img th:src="@{${autore.fotografia}}" alt="Foto autore" class="detail-img" />
            </div>

            <p><span class="detail-label">Nazionalità:</span> <span class="detail-value" th:text="${autore.nazionalita}"></span></p>

            <p><span class="detail-label">Data di nascita:</span> <span class="detail-value" th:text="${autore.dataDiNascita}"></span></p>

            <p th:if="${autore.dataDiMorte != null}">
                <span class="detail-label">Data di morte:</span> <span class="detail-value" th:text="${autore.dataDiMorte}"></span>
            </p>

        </div>

        <h2>Libri</h2>
        <ul>
            <li th:each="libro : ${autore.libri}">
                <a th:href="@{'/libri/' + ${libro.id}}" th:text="${libro.titolo}"></a>
            </li>
        </ul>

        <div class="action-links">
            <a th:href="@{/autori}">Torna agli autori</a>
        </div>
    </div>

</body>
</html>
