<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="${autore.nome} + ' ' + ${autore.cognome}">Autore</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>
<body>
	<div><img src="/images/logo-app.png" width="25%" /></div>

    <h1 th:text="${autore.nome} + ' ' + ${autore.cognome}">Nome Autore</h1>
	
	<div th:if="${autore.fotografia != null}">
	    <img th:src="@{${autore.fotografia}}" alt="Foto autore" width="250" style="margin-bottom: 15px;" />
	</div>

    <p>Nazionalità: <span th:text="${autore.nazionalita}"></span></p>
    <p>Data di nascita: <span th:text="${autore.dataDiNascita}"></span></p>
    <p th:if="${autore.dataDiMorte != null}">Data di morte: <span th:text="${autore.dataDiMorte}"></span></p>

    <h2>Libri</h2>
    <ul>
        <li th:each="libro : ${autore.libri}">
            <a th:href="@{'/libri/' + ${libro.id}}" th:text="${libro.titolo}"></a>
        </li>
    </ul>

    <p><a th:href="@{/autori}">Torna agli autori</a></p>
</body>
</html>