<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>
<body>

    <img src="/images/logo-app.png" alt="Logo Siw Books" />

    <div class="container">
        <h1>📚 Libri</h1>
        <ul>
            <li th:each="libro : ${libri}">
                <a th:href="@{'/libri/' + ${libro.id}}" th:text="${libro.titolo}">Titolo Libro</a>
            </li>
        </ul>

        <p class="action-links">
            <a th:href="@{/autori}">Visualizza tutti gli autori</a>
        </p>

        <p class="action-links">
            <span sec:authorize="!isAuthenticated()">
                <a th:href="@{/login}">Login</a>
                <a th:href="@{/register}">Registrati</a>
            </span>

            <span sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}">Logout</a>
            </span>
        </p>
    </div>

</body>
</html>
